/*Written by Mohammed Zarrar Shahid*/

/* Footer container styles */
.footer_container{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    background-color: #CCCCCC;
    margin: 0;
    z-index: 99;/*Keeps footer ahead of everything else*/
    position: fixed;/*Keeps footer fixed at the bottom*/
    bottom: 0;/*Keeps footer at the bottom*/
    left: 0;
    width: 100%;
    height: 140px;
}

/* Sets styles for footer container */
.footer_container .footer_home, .footer_user, .footer_qr{
    background-color: #CCCCCC;
    width: 150px;
    border-color: transparent;
    box-shadow: 0;   
}

/* Size and placement of qr code image in footer */
.footer_container .qr_black{
    width: 80px;
    transform: translate(0,10px);
}

/* Size and placement of home image in footer */
.footer_container .home_img{
    width: 80px;
    transform: translate(0,10px);
}

/* Size and placement of user profile image in footer */
.footer_container .user_img{
    width: 120px;
    transform: translate(0,15px);
}

/* Placement of user profile picture container on footer adjusted */
.footer_container .footer_user{
    transform: translate(0,5px);
}