/* Written by Aleem Abbas-Hussain*/

<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

=======
/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global styles */
>>>>>>> 6cf15b28 (frontend)
body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e4e4e4;
    color: #0B4433;
<<<<<<< HEAD
  }
  
  .splash-screen {
=======
}

/* Splash screen layout */
.splash-screen {
>>>>>>> 6cf15b28 (frontend)
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
<<<<<<< HEAD
    width: 100vh;
    background-color: #e4e4e4;
    text-align: center;
    box-sizing: border-box;
  }
  
  .logo {
    width: 70%;
    max-width: none;
    height: auto;  
    transform: translate(0px, -150px);
  }
  
  .welcome-text {
    font-size: 70px;
    color: #0B4433;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    transform: translate(0px, -500px);
    margin: 50px;
  }
  
  .splash-screen .splash-button {
=======
    width: 100vw;
    text-align: center;
}

/* Logo positioning */
.logo {
    width: 150%;
    height: auto;
    transform: translate(0px,-150px);
}

/* Welcome text */
.welcome-text {
    font-size: 70px;
    font-weight: 700;
    transform: translateY(-500px);
    margin: 50px;
}

/* Button container */
.splash-screen .splash-button {
>>>>>>> 6cf15b28 (frontend)
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
<<<<<<< HEAD
    transform: translate(0px,-500px);
  }
  
  .splash-screen .splashbutton {
    width: 800px;       
    border-radius: 700px;     
=======
    transform: translateY(-500px);
}

/* Button styling */
.splash-screen .splashbutton {
    width: 800px;
    border-radius: 700px;
>>>>>>> 6cf15b28 (frontend)
    background-color: #0B4433;
    color: #e4e4e4;
    border: 4px solid black;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 4px 4px black;
<<<<<<< HEAD
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    text-decoration: none;
  }
  
  .splash-button button:hover {
    transform: scale(1.05);
  }
=======
    cursor: pointer;
    transition: transform 0.2s;
    text-decoration: none;
}

/* Button hover effect */
.splashbutton:hover {
    transform: scale(1.05);
}
>>>>>>> 6cf15b28 (frontend)
